[package]
name = "blink2"
version = "0.1.0"
edition = "2021"

[dependencies]
cortex-m = "0.7"
cortex-m-rt = "0.7"
embedded-hal = "0.2"
panic-halt = "0.2"
stm32f1xx-hal = { version = "0.10.0", features = ["rt", "stm32f103", "medium"] }
